
<div class="container">
  <input type="text" [(ngModel)]="searchText" [disabled]=!allowFilter /><br>
  <label for="Disable filter">Enable filter : </label><input [checked]=allowFilter (change)="toggleMode()" type="checkbox" />
  <br>{{searchItem}}
<table class="table table-hover">
   <thead>
     <tr>
       <th>{{title}}</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor='let item of todolist|filterbytext:searchText; let i = index;'
       (click)="onClick(i)"  [routerLink]="['/item', i]">
        <td> {{item.id}}-o </td>
       <td> {{item.title}}</td>
     </tr>
   </tbody>
 </table>
</div>
