
<div class="container">
  <input type="text" [(ngModel)]="searchText" [disabled]=!allowFilter /><br>
  <label for="Disable filter">Enable filter : </label><input [checked]=allowFilter (change)="toggleMode()" type="checkbox" />
  <br> <label for="Show Done">Show done : </label><input type="checkbox" [checked]=showDone (change)="toggleShowDone()" />
<div style="">
<table class="table table-hover">
   <thead>
     <tr>
       <th>{{title}}</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor='let item of todolist|filterbytext:searchText | showdone:showDone; let i = index;'
       (click)="onClick(i)"  [routerLink]="['/item', item.id]">
        <td> {{item.id}} </td>
       <td> {{item.title}}</td>
       <td> <span class="glyphicon glyphicon-ok text-success" *ngIf="item.done"></span></td>
     </tr>
   </tbody>
 </table>
</div>
</div>
